In [3]:
# For downloading the dataset
url="https://www.kaggle.com/datasets/bharadwaj6/kindle-reviews"

In [4]:
# Load the data set
import pandas as pd
df=pd.read_csv('D:/Projects/NLP/AmazonKindleSentimentAnalysis/kindle_reviews.csv')

In [5]:
# Display the first five rows
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [6]:
# Obtaining the required columns
df=df[['reviewText','overall']]

In [7]:
# Display the first five rows
df.head()

                                          reviewText  overall
0  I enjoy vintage books and movies so I enjoyed ...        5
1  This book is a reissue of an old one; the auth...        4
2  This was a fairly interesting read.  It had ol...        4
3  I'd never read any of the Amy Brewster mysteri...        5
4  If you like period pieces - clothing, lingo, y...        4

In [8]:
# Rename the column
df=df.rename(columns={'overall':'rating'})

In [9]:
# Display the first 5 rows
df.head()

                                          reviewText  rating
0  I enjoy vintage books and movies so I enjoyed ...       5
1  This book is a reissue of an old one; the auth...       4
2  This was a fairly interesting read.  It had ol...       4
3  I'd never read any of the Amy Brewster mysteri...       5
4  If you like period pieces - clothing, lingo, y...       4

In [10]:
# Display all the rows in the dataset 
df

                                               reviewText  rating
0       I enjoy vintage books and movies so I enjoyed ...       5
1       This book is a reissue of an old one; the auth...       4
2       This was a fairly interesting read.  It had ol...       4
3       I'd never read any of the Amy Brewster mysteri...       5
4       If you like period pieces - clothing, lingo, y...       4
...                                                   ...     ...
982614  Yasss hunny! This is a great read. That Dre is...       5
982615  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...       5
982616  Great book! Cherika was a fool. She let that m...       5
982617  When I say this was an excellent book please b...       5
982618  This book was everything. I just hope Alexus w...       5

[982619 rows x 2 columns]

In [11]:
# Find the missing values in the dataset
df.isnull().sum()

reviewText    22
rating         0
dtype: int64

In [12]:
# Drop the nan values from the dataset
df=df.dropna()

In [13]:
# Display all the rows from the dataset
df

                                               reviewText  rating
0       I enjoy vintage books and movies so I enjoyed ...       5
1       This book is a reissue of an old one; the auth...       4
2       This was a fairly interesting read.  It had ol...       4
3       I'd never read any of the Amy Brewster mysteri...       5
4       If you like period pieces - clothing, lingo, y...       4
...                                                   ...     ...
982614  Yasss hunny! This is a great read. That Dre is...       5
982615  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...       5
982616  Great book! Cherika was a fool. She let that m...       5
982617  When I say this was an excellent book please b...       5
982618  This book was everything. I just hope Alexus w...       5

[982597 rows x 2 columns]

In [14]:
# Display all the rows frow review text
df['reviewText']

0         I enjoy vintage books and movies so I enjoyed ...
1         This book is a reissue of an old one; the auth...
2         This was a fairly interesting read.  It had ol...
3         I'd never read any of the Amy Brewster mysteri...
4         If you like period pieces - clothing, lingo, y...
                                ...
982614    Yasss hunny! This is a great read. That Dre is...
982615    I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...
982616    Great book! Cherika was a fool. She let that m...
982617    When I say this was an excellent book please b...
982618    This book was everything. I just hope Alexus w...
Name: reviewText, Length: 982597, dtype: object

In [15]:
# Display all the rows from the ratings
df['rating']

0         5
1         4
2         4
3         5
4         4
         ..
982614    5
982615    5
982616    5
982617    5
982618    5
Name: rating, Length: 982597, dtype: int64

In [16]:
# Obtain the sample from the entrie dataset
df_sampled=df.sample(frac=0.05,random_state=42)

In [17]:
# Display all the rows in the sample dataset
df_sampled

                                               reviewText  rating
828887  Wow!!! If you like your reads hot and steamy t...       4
207514  Draconian and Vampires have been enemies for c...       4
467075  Part History, part thriller, part romance.  A ...       5
747103  A lovely little holiday read, that would work ...       4
379481  These recipes sound tasty, quick and easy to p...       4
...                                                   ...     ...
901480                                         i liked it       4
232985  Did these five star reviewers even read this b...       1
129548  Maddie and Boone were a terrific twosome. Such...       5
754648  I loved this book from beginning to end boy th...       5
763540  The story seemed to be going along just fine t...       4

[49130 rows x 2 columns]

In [18]:
# Find unique records in the ratings
df_sampled['rating'].unique()

array([4, 5, 3, 1, 2], dtype=int64)

In [19]:
# Find value counts in the ratings
df_sampled['rating'].value_counts()

5    28824
4    12701
3     4873
2     1624
1     1108
Name: rating, dtype: int64

In [20]:
# Converting into the classification kind of problem statement
df_sampled['rating']=df_sampled['rating'].apply(lambda x:0 if x<=3 else 1)

In [21]:
# FInd unique records in the sample after conversion
df_sampled['rating'].unique()

array([1, 0], dtype=int64)

In [22]:
# Count of records in the sample
df_sampled['rating'].value_counts()

1    41525
0     7605
Name: rating, dtype: int64

In [23]:
# Upsampling
df_minority=df_sampled[df_sampled['rating']==0]
df_majority=df_sampled[df_sampled['rating']==1]

In [24]:
# Upsampling the minority class to the size of the majority class
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [25]:
df_minority_upsampled.shape

(41525, 2)

In [26]:
df_minority_upsampled.head()

                                               reviewText  rating
897225  Well ....The good news is that it is a short, ...       0
129005  seemed like kind of a cheap read.  Nothing to ...       0
920849  Having good credit is vital for several compon...       0
229264  Science, cloning, the Final coming of Jesus,al...       0
426158  I enjoyed this book.  The characters were so l...       0

In [27]:
# Concatenate the majority class and the upsampled minority class
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [28]:
df_upsampled['rating'].value_counts()

1    41525
0    41525
Name: rating, dtype: int64

In [29]:
df_sampled['reviewText']=df['reviewText'].str.lower()

In [30]:
df_sampled.head()

                                               reviewText  rating
828887  wow!!! if you like your reads hot and steamy t...       1
207514  draconian and vampires have been enemies for c...       1
467075  part history, part thriller, part romance.  a ...       1
747103  a lovely little holiday read, that would work ...       1
379481  these recipes sound tasty, quick and easy to p...       1

In [31]:
# Removing the special character
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\satya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [32]:
from bs4 import BeautifulSoup

In [33]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: re.sub('[^a-z A-Z 0-9]+',' ',x))

In [34]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: " ".join([y for y in x.split() if y not in stopwords.words('english')]))

In [35]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh):://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', str(x)))

In [36]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: BeautifulSoup(x,'lxml').get_text())

In [37]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: " ".join(x.split()))

In [38]:
df_sampled.head()

                                               reviewText  rating
828887  wow like reads hot steamy read novella allows ...       1
207514  draconian vampires enemies centuries order sav...       1
467075  part history part thriller part romance really...       1
747103  lovely little holiday read would work season t...       1
379481  recipes sound tasty quick easy put together lo...       1

In [39]:
# Lemmatizer
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [40]:
# Define a function to apply lemmatization on each word
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [41]:
# Calling the function
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: lemmatize_words(x))

In [42]:
df_sampled.head()

                                               reviewText  rating
828887  wow like read hot steamy read novella allows r...       1
207514  draconian vampire enemy century order save inn...       1
467075  part history part thriller part romance really...       1
747103  lovely little holiday read would work season t...       1
379481  recipe sound tasty quick easy put together loo...       1

In [43]:
# Train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df_sampled['reviewText'],df_sampled['rating'],test_size=0.20,random_state=42,stratify=df_sampled['rating'])

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
bow=CountVectorizer()
X_train_bow=bow.fit_transform(X_train)
X_test_bow=bow.transform(X_test)

In [45]:
from sklearn.naive_bayes import MultinomialNB
mb_model_bow=MultinomialNB()
mb_model_bow.fit(X_train_bow,y_train)

MultinomialNB()

In [48]:
y_pred_bow=mb_model_bow.predict(X_test_bow)

In [49]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print("BOW Accuracy: ",accuracy_score(y_test,y_pred_bow))

BOW Accuracy:  0.885507836352534

In [50]:
print("Confusion matrix of Bow: ",confusion_matrix(y_test,y_pred_bow))

Confusion matrix of Bow:  [[ 721  800]
 [ 325 7980]]

In [51]:
print("Classification report of BOW: ",classification_report(y_test,y_pred_bow))

Classification report of BOW:                precision    recall  f1-score   support

           0       0.69      0.47      0.56      1521
           1       0.91      0.96      0.93      8305

    accuracy                           0.89      9826
   macro avg       0.80      0.72      0.75      9826
weighted avg       0.87      0.89      0.88      9826