In [ ]:
# For downloading the dataset
url="https://www.kaggle.com/datasets/bharadwaj6/kindle-reviews"

In [2]:
# Load the data set
import pandas as pd
df=pd.read_csv('D:/Projects/NLP/AmazonKindleSentimentAnalysis/kindle_reviews.csv')

In [3]:
# Display the first five rows
df.head()

,Unnamed: 0,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",A1F6404F1VG29J,Avidreader,Nice vintage story,1399248000
1,1,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",AN0N05A9LIJEQ,critters,Different...,1388966400
2,2,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",A795DMNCJILA6,dot,Oldie,1396569600
3,3,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014",A1FV0SX13TWVXQ,"Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,4,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",A3SPTOKDG7WBLN,Father Dowling Fan,Period Mystery,1395187200

In [4]:
# Obtaining the required columns
df=df[['reviewText','overall']]

In [5]:
# Display the first five rows
df.head()

                                          reviewText  overall
0  I enjoy vintage books and movies so I enjoyed ...        5
1  This book is a reissue of an old one; the auth...        4
2  This was a fairly interesting read.  It had ol...        4
3  I'd never read any of the Amy Brewster mysteri...        5
4  If you like period pieces - clothing, lingo, y...        4

In [6]:
# Rename the column
df=df.rename(columns={'overall':'rating'})

In [7]:
# Display the first 5 rows
df.head()

                                          reviewText  rating
0  I enjoy vintage books and movies so I enjoyed ...       5
1  This book is a reissue of an old one; the auth...       4
2  This was a fairly interesting read.  It had ol...       4
3  I'd never read any of the Amy Brewster mysteri...       5
4  If you like period pieces - clothing, lingo, y...       4

In [8]:
# Display all the rows in the dataset 
df

                                               reviewText  rating
0       I enjoy vintage books and movies so I enjoyed ...       5
1       This book is a reissue of an old one; the auth...       4
2       This was a fairly interesting read.  It had ol...       4
3       I'd never read any of the Amy Brewster mysteri...       5
4       If you like period pieces - clothing, lingo, y...       4
...                                                   ...     ...
982614  Yasss hunny! This is a great read. That Dre is...       5
982615  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...       5
982616  Great book! Cherika was a fool. She let that m...       5
982617  When I say this was an excellent book please b...       5
982618  This book was everything. I just hope Alexus w...       5

[982619 rows x 2 columns]

In [9]:
# Find the missing values in the dataset
df.isnull().sum()

reviewText    22
rating         0
dtype: int64

In [10]:
# Drop the nan values from the dataset
df=df.dropna()

In [11]:
# Display all the rows from the dataset
df

                                               reviewText  rating
0       I enjoy vintage books and movies so I enjoyed ...       5
1       This book is a reissue of an old one; the auth...       4
2       This was a fairly interesting read.  It had ol...       4
3       I'd never read any of the Amy Brewster mysteri...       5
4       If you like period pieces - clothing, lingo, y...       4
...                                                   ...     ...
982614  Yasss hunny! This is a great read. That Dre is...       5
982615  I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...       5
982616  Great book! Cherika was a fool. She let that m...       5
982617  When I say this was an excellent book please b...       5
982618  This book was everything. I just hope Alexus w...       5

[982597 rows x 2 columns]

In [12]:
# Display all the rows frow review text
df['reviewText']

0         I enjoy vintage books and movies so I enjoyed ...
1         This book is a reissue of an old one; the auth...
2         This was a fairly interesting read.  It had ol...
3         I'd never read any of the Amy Brewster mysteri...
4         If you like period pieces - clothing, lingo, y...
                                ...
982614    Yasss hunny! This is a great read. That Dre is...
982615    I ENJOYED THIS BOOK FROM BEGINNING TO END NOW ...
982616    Great book! Cherika was a fool. She let that m...
982617    When I say this was an excellent book please b...
982618    This book was everything. I just hope Alexus w...
Name: reviewText, Length: 982597, dtype: object

In [13]:
# Display all the rows from the ratings
df['rating']

0         5
1         4
2         4
3         5
4         4
         ..
982614    5
982615    5
982616    5
982617    5
982618    5
Name: rating, Length: 982597, dtype: int64

In [14]:
# Obtain the sample from the entrie dataset
df_sampled=df.sample(frac=0.05,random_state=42)

In [15]:
# Display all the rows in the sample dataset
df_sampled

                                               reviewText  rating
828887  Wow!!! If you like your reads hot and steamy t...       4
207514  Draconian and Vampires have been enemies for c...       4
467075  Part History, part thriller, part romance.  A ...       5
747103  A lovely little holiday read, that would work ...       4
379481  These recipes sound tasty, quick and easy to p...       4
...                                                   ...     ...
901480                                         i liked it       4
232985  Did these five star reviewers even read this b...       1
129548  Maddie and Boone were a terrific twosome. Such...       5
754648  I loved this book from beginning to end boy th...       5
763540  The story seemed to be going along just fine t...       4

[49130 rows x 2 columns]

In [16]:
# Find unique records in the ratings
df_sampled['rating'].unique()

array([4, 5, 3, 1, 2], dtype=int64)

In [17]:
# Find value counts in the ratings
df_sampled['rating'].value_counts()

5    28824
4    12701
3     4873
2     1624
1     1108
Name: rating, dtype: int64

In [18]:
# Converting into the classification kind of problem statement
df_sampled['rating']=df_sampled['rating'].apply(lambda x:0 if x<=3 else 1)

In [19]:
# FInd unique records in the sample after conversion
df_sampled['rating'].unique()

array([1, 0], dtype=int64)

In [20]:
# Count of records in the sample
df_sampled['rating'].value_counts()

1    41525
0     7605
Name: rating, dtype: int64

In [21]:
# Upsampling
df_minority=df_sampled[df_sampled['rating']==0]
df_majority=df_sampled[df_sampled['rating']==1]

In [22]:
# Upsampling the minority class to the size of the majority class
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [23]:
df_minority_upsampled.shape

(41525, 2)

In [24]:
df_minority_upsampled.head()

                                               reviewText  rating
897225  Well ....The good news is that it is a short, ...       0
129005  seemed like kind of a cheap read.  Nothing to ...       0
920849  Having good credit is vital for several compon...       0
229264  Science, cloning, the Final coming of Jesus,al...       0
426158  I enjoyed this book.  The characters were so l...       0

In [25]:
# Concatenate the majority class and the upsampled minority class
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [26]:
df_upsampled['rating'].value_counts()

1    41525
0    41525
Name: rating, dtype: int64

In [27]:
df_sampled['reviewText']=df['reviewText'].str.lower()

In [28]:
df_sampled.head()

                                               reviewText  rating
828887  wow!!! if you like your reads hot and steamy t...       1
207514  draconian and vampires have been enemies for c...       1
467075  part history, part thriller, part romance.  a ...       1
747103  a lovely little holiday read, that would work ...       1
379481  these recipes sound tasty, quick and easy to p...       1

In [30]:
import gensim
from gensim.models import Word2Vec,KeyedVectors

In [31]:
import gensim.downloader as api
wv=api.load("word2vec-google-news-300")
vec_king=wv['king']

In [32]:
vec_king.shape

(300,)

In [33]:
vec_king

array([ 1.25976562e-01,  2.97851562e-02,  8.60595703e-03,  1.39648438e-01,
       -2.56347656e-02, -3.61328125e-02,  1.11816406e-01, -1.98242188e-01,
        5.12695312e-02,  3.63281250e-01, -2.42187500e-01, -3.02734375e-01,
       -1.77734375e-01, -2.49023438e-02, -1.67968750e-01, -1.69921875e-01,
        3.46679688e-02,  5.21850586e-03,  4.63867188e-02,  1.28906250e-01,
        1.36718750e-01,  1.12792969e-01,  5.95703125e-02,  1.36718750e-01,
        1.01074219e-01, -1.76757812e-01, -2.51953125e-01,  5.98144531e-02,
        3.41796875e-01, -3.11279297e-02,  1.04492188e-01,  6.17675781e-02,
        1.24511719e-01,  4.00390625e-01, -3.22265625e-01,  8.39843750e-02,
        3.90625000e-02,  5.85937500e-03,  7.03125000e-02,  1.72851562e-01,
        1.38671875e-01, -2.31445312e-01,  2.83203125e-01,  1.42578125e-01,
        3.41796875e-01, -2.39257812e-02, -1.09863281e-01,  3.32031250e-02,
       -5.46875000e-02,  1.53198242e-02, -1.62109375e-01,  1.58203125e-01,
       -2.59765625e-01,  2.01416016e-02, -1.63085938e-01,  1.35803223e-03,
       -1.44531250e-01, -5.68847656e-02,  4.29687500e-02, -2.46582031e-02,
        1.85546875e-01,  4.47265625e-01,  9.58251953e-03,  1.31835938e-01,
        9.86328125e-02, -1.85546875e-01, -1.00097656e-01, -1.33789062e-01,
       -1.25000000e-01,  2.83203125e-01,  1.23046875e-01,  5.32226562e-02,
       -1.77734375e-01,  8.59375000e-02, -2.18505859e-02,  2.05078125e-02,
       -1.39648438e-01,  2.51464844e-02,  1.38671875e-01, -1.05468750e-01,
        1.38671875e-01,  8.88671875e-02, -7.51953125e-02, -2.13623047e-02,
        1.72851562e-01,  4.63867188e-02, -2.65625000e-01,  8.91113281e-03,
        1.49414062e-01,  3.78417969e-02,  2.38281250e-01, -1.24511719e-01,
       -2.17773438e-01, -1.81640625e-01,  2.97851562e-02,  5.71289062e-02,
       -2.89306641e-02,  1.24511719e-02,  9.66796875e-02, -2.31445312e-01,
        5.81054688e-02,  6.68945312e-02,  7.08007812e-02, -3.08593750e-01,
       -2.14843750e-01,  1.45507812e-01, -4.27734375e-01, -9.39941406e-03,
        1.54296875e-01, -7.66601562e-02,  2.89062500e-01,  2.77343750e-01,
       -4.86373901e-04, -1.36718750e-01,  3.24218750e-01, -2.46093750e-01,
       -3.03649902e-03, -2.11914062e-01,  1.25000000e-01,  2.69531250e-01,
        2.04101562e-01,  8.25195312e-02, -2.01171875e-01, -1.60156250e-01,
       -3.78417969e-02, -1.20117188e-01,  1.15234375e-01, -4.10156250e-02,
       -3.95507812e-02, -8.98437500e-02,  6.34765625e-03,  2.03125000e-01,
        1.86523438e-01,  2.73437500e-01,  6.29882812e-02,  1.41601562e-01,
       -9.81445312e-02,  1.38671875e-01,  1.82617188e-01,  1.73828125e-01,
        1.73828125e-01, -2.37304688e-01,  1.78710938e-01,  6.34765625e-02,
        2.36328125e-01, -2.08984375e-01,  8.74023438e-02, -1.66015625e-01,
       -7.91015625e-02,  2.43164062e-01, -8.88671875e-02,  1.26953125e-01,
       -2.16796875e-01, -1.73828125e-01, -3.59375000e-01, -8.25195312e-02,
       -6.49414062e-02,  5.07812500e-02,  1.35742188e-01, -7.47070312e-02,
       -1.64062500e-01,  1.15356445e-02,  4.45312500e-01, -2.15820312e-01,
       -1.11328125e-01, -1.92382812e-01,  1.70898438e-01, -1.25000000e-01,
        2.65502930e-03,  1.92382812e-01, -1.74804688e-01,  1.39648438e-01,
        2.92968750e-01,  1.13281250e-01,  5.95703125e-02, -6.39648438e-02,
        9.96093750e-02, -2.72216797e-02,  1.96533203e-02,  4.27246094e-02,
       -2.46093750e-01,  6.39648438e-02, -2.25585938e-01, -1.68945312e-01,
        2.89916992e-03,  8.20312500e-02,  3.41796875e-01,  4.32128906e-02,
        1.32812500e-01,  1.42578125e-01,  7.61718750e-02,  5.98144531e-02,
       -1.19140625e-01,  2.74658203e-03, -6.29882812e-02, -2.72216797e-02,
       -4.82177734e-03, -8.20312500e-02, -2.49023438e-02, -4.00390625e-01,
       -1.06933594e-01,  4.24804688e-02,  7.76367188e-02, -1.16699219e-01,
        7.37304688e-02, -9.22851562e-02,  1.07910156e-01,  1.58203125e-01,
        4.24804688e-02,  1.26953125e-01,  3.61328125e-02,  2.67578125e-01,
       -1.01074219e-01, -3.02734375e-01, -5.76171875e-02,  5.05371094e-02,
        5.26428223e-04, -2.07031250e-01, -1.38671875e-01, -8.97216797e-03,
       -2.78320312e-02, -1.41601562e-01,  2.07031250e-01, -1.58203125e-01,
        1.27929688e-01,  1.49414062e-01, -2.24609375e-02, -8.44726562e-02,
        1.22558594e-01,  2.15820312e-01, -2.13867188e-01, -3.12500000e-01,
       -3.73046875e-01,  4.08935547e-03,  1.07421875e-01,  1.06933594e-01,
        7.32421875e-02,  8.97216797e-03, -3.88183594e-02, -1.29882812e-01,
        1.49414062e-01, -2.14843750e-01, -1.83868408e-03,  9.91210938e-02,
        1.57226562e-01, -1.14257812e-01, -2.05078125e-01,  9.91210938e-02,
        3.69140625e-01, -1.97265625e-01,  3.54003906e-02,  1.09375000e-01,
        1.31835938e-01,  1.66992188e-01,  2.35351562e-01,  1.04980469e-01,
       -4.96093750e-01, -1.64062500e-01, -1.56250000e-01, -5.22460938e-02,
        1.03027344e-01,  2.43164062e-01, -1.88476562e-01,  5.07812500e-02,
       -9.37500000e-02, -6.68945312e-02,  2.27050781e-02,  7.61718750e-02,
        2.89062500e-01,  3.10546875e-01, -5.37109375e-02,  2.28515625e-01,
        2.51464844e-02,  6.78710938e-02, -1.21093750e-01, -2.15820312e-01,
       -2.73437500e-01, -3.07617188e-02, -3.37890625e-01,  1.53320312e-01,
        2.33398438e-01, -2.08007812e-01,  3.73046875e-01,  8.20312500e-02,
        2.51953125e-01, -7.61718750e-02, -4.66308594e-02, -2.23388672e-02,
        2.99072266e-02, -5.93261719e-02, -4.66918945e-03, -2.44140625e-01,
       -2.09960938e-01, -2.87109375e-01, -4.54101562e-02, -1.77734375e-01,
       -2.79296875e-01, -8.59375000e-02,  9.13085938e-02,  2.51953125e-01],
      dtype=float32)

In [29]:
# Removing the special character
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\satya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [34]:
from bs4 import BeautifulSoup

In [35]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: re.sub('[^a-z A-Z 0-9]+',' ',x))

In [36]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: " ".join([y for y in x.split() if y not in stopwords.words('english')]))

In [37]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh):://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', str(x)))

In [38]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: BeautifulSoup(x,'lxml').get_text())

In [39]:
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: " ".join(x.split()))

In [40]:
df_sampled.head()

                                               reviewText  rating
828887  wow like reads hot steamy read novella allows ...       1
207514  draconian vampires enemies centuries order sav...       1
467075  part history part thriller part romance really...       1
747103  lovely little holiday read would work season t...       1
379481  recipes sound tasty quick easy put together lo...       1

In [41]:
from nltk.stem import SnowballStemmer
snowballstemmer=SnowballStemmer('english')

In [42]:
# Define a function to apply lemmatization on each word
def stem_words(text):
    return " ".join([snowballstemmer.stem(word) for word in text.split()])

In [43]:
# Calling the function
df_sampled['reviewText']=df_sampled['reviewText'].apply(lambda x: stem_words(x))

In [44]:
df_sampled.head()

                                               reviewText  rating
828887  wow like read hot steami read novella allow re...       1
207514  draconian vampir enemi centuri order save inno...       1
467075  part histori part thriller part romanc realli ...       1
747103  love littl holiday read would work season thre...       1
379481  recip sound tasti quick easi put togeth look g...       1

In [47]:
# Train test split
from sklearn.model_selection import train_test_split
X_train_raw,X_test_raw,y_train,y_test=train_test_split(df_sampled['reviewText'],df_sampled['rating'],test_size=0.20,random_state=42,stratify=df_sampled['rating'])

In [48]:
# Let's train word2vec from scratch
model=gensim.models.Word2Vec(X_train_raw,vector_size=100, window=5, min_count=1, workers=4)

In [49]:
# Define a Function for Averaging Word2Vec Vectors
import numpy as np
def avg_word2vec(doc, model):
    vectors = [model.wv[word] for word in doc if word in model.wv.index_to_key]
    if vectors:  # Check if the list is not empty
        return np.mean(vectors, axis=0)  # Average for each sentence
    else:
        return np.zeros(model.vector_size)  # Return a zero vector for empty inputs

In [51]:
# Generate Sentence Embeddings
# For Training Data
from tqdm import tqdm
X_train = []
for sentence in tqdm(X_train_raw):
    X_train.append(avg_word2vec(sentence, model))

100%|██████████| 39304/39304 [00:18<00:00, 2148.96it/s]

In [52]:
X_test = []
for sentence in tqdm(X_test_raw):
    X_test.append(avg_word2vec(sentence, model))

100%|██████████| 9826/9826 [00:04<00:00, 2065.47it/s]

In [53]:
# Convert to DataFrame (Optional)
df_train = pd.DataFrame(X_train)
df_test = pd.DataFrame(X_test)

In [55]:
from sklearn.naive_bayes import GaussianNB
nb_model_word2vec=GaussianNB()
nb_model_word2vec.fit(X_train,y_train)

GaussianNB()

In [57]:
y_pred_avg_word2vec=nb_model_word2vec.predict(X_test)

In [58]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print("Avg Word2Vec Accuracy: ",accuracy_score(y_test,y_pred_avg_word2vec))

Avg Word2Vec Accuracy:  0.7280683899857521

In [60]:
print("Confusion matrix of Avg word2vec: ",confusion_matrix(y_test,y_pred_avg_word2vec))

Confusion matrix of Avg word2vec:  [[ 444 1077]
 [1595 6710]]

In [61]:
print("Classification report of BOW: ",classification_report(y_test,y_pred_avg_word2vec))

Classification report of BOW:                precision    recall  f1-score   support

           0       0.22      0.29      0.25      1521
           1       0.86      0.81      0.83      8305

    accuracy                           0.73      9826
   macro avg       0.54      0.55      0.54      9826
weighted avg       0.76      0.73      0.74      9826

In [63]:
from sklearn.linear_model import LogisticRegression
log_regressor=LogisticRegression()
log_regressor.fit(X_train,y_train)

LogisticRegression()

In [67]:
y_pred_avg_word2vec1=log_regressor.predict(X_test)

In [68]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
print("Avg Word2Vec Accuracy: ",accuracy_score(y_test,y_pred_avg_word2vec1))

Avg Word2Vec Accuracy:  0.8446977406879707

In [69]:
print("Confusion matrix of Avg word2vec: ",confusion_matrix(y_test,y_pred_avg_word2vec1))

Confusion matrix of Avg word2vec:  [[   5 1516]
 [  10 8295]]

In [70]:
print("Classification report of BOW: ",classification_report(y_test,y_pred_avg_word2vec1))

Classification report of BOW:                precision    recall  f1-score   support

           0       0.33      0.00      0.01      1521
           1       0.85      1.00      0.92      8305

    accuracy                           0.84      9826
   macro avg       0.59      0.50      0.46      9826
weighted avg       0.77      0.84      0.78      9826